<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="container"><%- include('views/template/nav') %></div>
    <div class="container mt-5">
      <% if (success_alert != "") { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hello <%= req.session.name %></strong> Wellcome back
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"></button>
      </div>
      <% } %>
    </div>

    <div class="container">
      <form id="createLink">
        <div class="mb-3">
          <label for="generateLink" class="form-label"
            >Generate media page</label
          >
          <input
            type="text"
            class="form-control"
            id="generateLink"
            aria-describedby="emailHelp"
            value="http://<%=req.hostname %>:3000/display/<%=req.session.uuid %>"
            disabled />

          <div id="emailHelp" class="form-text">copas this link to OBS</div>
        </div>
        <div class="mb-3">
          <label for="myLink" class="form-label">Generate myLink</label>
          <input
            type="text"
            class="form-control"
            id="myLink"
            aria-describedby="emailHelp"
            value="http://<%=req.hostname %>:3000/index/<%=req.session.name %>"
            disabled />

          <div id="emailHelp" class="form-text">
            share this link to your viewers
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="container">
      <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger float-end">logout</button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script></script>
  </body>
</html>
